@import "../../assets/mixins/fontDef";
@import "../../assets/mixins/variables";

header.app-header {
  background-color: white;
  padding: 10px 0px;
  font-size: 20px;
  color: black;
  @media (max-width: $smalldeskBreakpoint) {
    height: 50px;
  }
  &.fixed-height {
    height: 55px;
    font-size: 14px;
    color: #647883;
    font-family: Raleway, sans-serif;
  }
  .logo {
    img {
      height: 50px;
    }
    @media (max-width: 960px) {
      display: flex;
      justify-content: flex-start;
    }
  }
  .search-header {
    .header-item {
      display: flex;
      justify-content: center;
      &.category {
        justify-content: flex-start;
        .menu {
          div {
            font-size: 14px;
            padding-right: 15px;
            cursor: pointer;
            &:hover {
              color: #3f9dff;
            }
            &.active {
              color: #3f9dff;
            }
          }
        }
      }
      &.account {
        justify-content: flex-end;
        .menu {
          .login {
            div {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 1024px) {
      
    }
    ul {
      flex: 11;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 0px;
      margin: 0px;
      @media (max-width: $tabletBreakpoint) {
        display: block;
      }
    }
    .login {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      div {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #647883;
        font-family: Raleway, sans-serif;
        font-size: 18px;
      }
    }
  }
}