@import "../../assets/mixins/fontDef";
@import "../../assets/mixins/variables";
@import "../../assets/mixins/colors";
@import "../../assets/mixins/buttons";

.price-ticket {
  max-width: 300px;
  margin: 10px 10px;
  background-color: #647883;
  border-radius: 15px;

  .ticket-header {
    padding: 30px 30px 10px 30px;

    h4 {
      margin: 10px;
      @include fontDef(white, "Raleway", 40px, $regular, 24px);
    }
    .price {
      margin: 10px 0;
      @include fontDef(white, "Arvo", 23px, $regular, 50px);

      .price-cost {
        @include fontDef(white, "Raleway", 35px, $bold, 22px);
      }
      .starting-from {
        margin: 0 10px;
        @include fontDef(white, "Raleway", 16px, $regular, 24px);
      }
    }

    .price-detail {
      @include fontDef(white, "Raleway", 13px, $regular, 22px);
    }
  }

  .ticket-body {
    padding-bottom: 40px;
    border-top: 2px solid white;
    margin: 0px 10px;
    h5 {
      width: 100px;
      margin: 20px auto;
      margin-top: -12px;
      background-color: #647883;
      @include fontDef(
        #ffffff,
        "Raleway",
        14px,
        $semiBold,
        22px,
        none,
        uppercase
      );
    }

    .details {
      @include fontDef(#c2c7ca, "Raleway", 13px, $regular, 30px);
    }
    button {
      border: 1px solid #ffffff;
      cursor: pointer;
      margin-bottom: 0px;
    }
  }
}
