@import "../../assets/mixins/fontDef";
@import "../../assets/mixins/variables";

li.menu-item {
  padding: 10px 10px;
  border-radius: 20px;
  align-items: center;
  a {
    @include fontDef(#647883, "Lato", 16px, $bold, 11px);
  }
  &:hover {
    a {
      text-decoration: underline;
    }
  }
}
li.logo-item {
  padding: 0 15px 0px 15px;

  @media (max-width: $tabletBreakpoint) {
    display: none;
  }
}
