.account-area {
  margin: 30px 0px;
  .tab-panel {
    width: calc(100% - 210px);
  }
  .pane-title {
    padding: 10px 0px 10px 10px;
    margin-bottom: 10px;
    width: 200px;
    border-bottom: 1px solid black;
  }
  .pane-header {
    display: flex;
    justify-content: space-between;
    .add-button {
      outline: none;
      border: none;
      color: white;
      font-size: 18px;
      border-radius: 2px;
      margin: 5px 0px;
      background-color: #337ab7;
      cursor: pointer;
    }
  }
  .pane-body {
    display: flex;
    flex-wrap: wrap;
    .property-item {
      min-width: 280px;
    }
    &.account-settings {
      width: 500px;
      margin: auto;
      display: block;
    }
    &.listing {
      display: block;
    }
  }
}