@import "../assets/mixins/fontDef";
@import "../assets/mixins/variables";
@import "../assets/mixins/colors";
@import "../assets/mixins/buttons";

section {
  width: 100%;

  @media (max-width: $smalldeskBreakpoint) {
    text-align: center;
  }
}
.slider-container {
  img {
    width: 100%;
  }
}
.section-title {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.banner-content {
  max-width: 1180px;
  margin: 0 auto;
  margin-top: -486px;
  position: relative;
  padding: 64px 0 135px 0;

  @media (max-width: $smalldeskBreakpoint) {
    padding: 1px 0 0 0;
  }

  /* Style banner content */
  .banner {
    display: flex;
    justify-content: space-between;

    @media (max-width: $smalldeskBreakpoint) {
      display: block;
    }
    h1 {
      @include fontDef(white, "Lato", 45px, 900, 80px, none, uppercase);
      margin: 0px;
      padding: 25px 0px;
      width: 100%;
      text-align: center;

      @media (max-width: $mobileBreakpoint) {
        font-size: 36px;
      }

      .acent {
        color: $golden;
      }
    }
  }

  .property-actions {
    display: flex;
    justify-content: center;
    .btn-property {
      font-family: Raleway, sans-serif;
      background-color: #c02a26;
      color: white;
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      border-radius: 30px;
      padding: 1em 2em;
      margin: 10px;
      cursor: pointer;
      border: 1px solid #c02a26;
      outline: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .search-form {
    form {
      background-color: rgba($color: #fff, $alpha: 0.5);
      display: flex;
      width: 900px;
      flex-wrap: wrap;
      margin: auto;
      padding: 5px;
      .form-control {
        margin: 5px 5px 5px 0px;
      }
      .select {
        flex: 3;
        .property_select {
          padding: 0px;
          background-color: white;
          font-family: Raleway, sans-serif;
          font-size: 16px;
          padding: 10px 2px 9px 2px;
          border: none;
        }
        .react-dropdown-select-input {
          font-family: 'Raleway', sans-serif !important;
          font-size: 16px;
        }
      }
      .input {
        flex: 7;
        input {
          padding-left: 20px;
          box-sizing: border-box;
          font-family: Raleway, sans-serif;
          width: 100%;
          outline: none;
          border: none;
          font-size: 16px;
          height: 55px;
          background-color: #ffffff;
          color: #666;
        }
      }
      .button {
        flex: 2;
      }
      button {
        font-family: Raleway, sans-serif;
        background-color: #c02a26;
        color: white;
        font-size: 18px;
        width: 100%;
        height: 100%;
        font-weight: 600;
        padding: 1em 2em;
        cursor: pointer;
        line-height: 1;
        border: none;
        outline: none;
      }
    }
  }
}

.content {
  width: 100%;
  padding: 64px 0 135px 0;
  .featured {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: $tabletBreakpoint) {
      display: block;
    }

    .featured-item {
      width: 24%;
      @media (max-width: $tabletBreakpoint) {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

      @media (max-width: $mobileBreakpoint) {
        display: grid;
      }

      .img {
        display: flex;
        justify-content: center;
      }

      .about-desc {
        display: block;
      }

      h3 {
        @include fontDef($strongBrown, "Raleway", 18px, 600, 25px);
        text-align: center;
        margin-top: 31px;
      }

      p {
        @include fontDef($semiBrown, "Raleway", 14px, 400, 22px);
        margin: 6px 0;
        text-align: center;
      }
    }
  }
}
.section-featured .content {
  padding: 35px 0 35px 0;
}

.section-intro {
  background-color: #647883;
  color: white;
  .section-title {
    padding: 25px;
    margin: 0px;
  }
  .introduction {
    max-width: 800px;
    margin: auto;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }
  .intro-video {
    padding: 20px 0px;
    width: 60%;
    margin: auto;
  }
}

/* Style promotion-price content */
.promotion-prices {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px;

  @media (max-width: $smalldeskBreakpoint) {
    display: block;
  }
  * {
    text-align: center;
  }
}
.subscribe-form {
  padding: 30px 5px 80px 5px;
  display: flex;
  
  @media (max-width: $smalldeskBreakpoint) { 
    padding: 30px 5px 29px 5px;
  }

  @media (max-width: $tabletBreakpoint) {
    display: grid;
  }

  .subscribe-input {
    width: 50%;

    @media (max-width: $tabletBreakpoint) {
      width: 100%
    }
    
    input {
      width: 100%;
      height: 100px;
      border: #16a085 5px solid;
      background-color: #333333;
      text-align: center;
      @include fontDef(#16a085, 'Open Sans', 14px, $bold, 20px, none, uppercase);
    }
  }

  .post-button {
    width: 50%;

    @media (max-width: $tabletBreakpoint) {
      width: 100%
    }

    button {
      width: 100%;
      height: 100px;
      background-color: #16a085;
      outline: none;
      border: none;
      @include fontDef(white, 'Open Sans', 14px, $bold, 20px, none, uppercase);
    }

  }
}
.section-subscribe{
  background-color: #cd8c5d;
  .content-section {
    padding: 20px;
    color: white;
    .btn-register {
      font-size: 18px;
      padding: 10px 42px;
    }
  }
}

