.property-container {
  .filter-container {
    display: block;
    .filter-items {
      display: flex;
      flex-wrap: wrap;
      .search-input {
        min-width: 300px;
        background-color: white;
        font-family: Raleway, sans-serif;
        font-size: 16px;
        text-align: left;
        padding: 2.5px 10px;
        border: none;
        border-bottom: 1px solid #cccccc;
        min-height: 36px;
        margin: 5px 5px;
      }
    }
    .filter-values {
      font-size: 18px;
    }
  }
  .items-container {
    display: flex;
    margin-bottom: 50px;
    .map {
      width: 50%;
      img {
        width: 100%
      }
    }
    .content-body {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      .property-item {
        width: 49%;
      }
    }
  }
}