.property-container {
  height: calc(100vh - 135px);
  &.has-filter {
    height: calc(100vh - 135px);
  }
  .filter-container {
    display: block;
    .filter-items {
      display: flex;
      flex-wrap: wrap;
      .search-input {
        min-width: 300px;
        background-color: white;
        font-family: Raleway, sans-serif;
        font-size: 16px;
        text-align: left;
        padding: 2.5px 10px;
        border: none;
        border-bottom: 1px solid #cccccc;
        min-height: 36px;
        margin: 5px 5px;
      }
      .price-input {
        max-width: 100px;
        background-color: white;
        font-family: Raleway, sans-serif;
        font-size: 16px;
        text-align: left;
        padding: 2.5px 10px;
        border: none;
        border-bottom: 1px solid #cccccc;
        min-height: 36px;
        margin: 5px 5px;
      }
    }
    .filter-values {
      font-size: 18px;
    }
  }
  .items-container {
    display: flex;
    .map {
      width: 50%;
      img {
        width: 100%;
        height: calc(100vh - 234px);
        &.has-filter {
          height: calc(100vh - 271px);
        }
      }
    }
    .content-body {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      height: calc(100vh - 232px);
      &.has-filter {
        height: calc(100vh - 270px);
      }
      overflow-y: scroll;
      .property-item {
        width: 49%;
      }
    }
  }
}