.account-type {
  display: flex;
  justify-content: center;
  .account {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.manager {
      border-right: 1px solid black;
    }
    label {
      padding: 10px 0px;
    }
    button {
      border: none;
      outline: none;
      border-radius: 100px;
      padding: 0px;
      background: transparent;
      width: 190px;
      height: 190px;
      display: flex;
      overflow: hidden;
      justify-content: center;
      &.border-blur {
        box-shadow:  0 0 5px 5px #647883;
      }
      cursor: pointer;
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}