.listing-property {
  display: flex;
  .submit-container {
    width: 75%;
    .tab-header {
      width: 500px;
      box-shadow: none;
      background: transparent;
      .tabs-list {
        button {
          border-bottom: 2px solid #bdbbbb;
        }
      }
    }
    .tab-panel {
      .MuiBox-root {
        padding: 10px;
      }
    }
  }
  .sidebar-container {
    width: 25%;
    margin: 50px 10px 16px 0px;
    border: 1px solid #bdbbbb;
    h2 {
      font-family: Lato, sans-serif;
      font-size: 28px;
      color: #3f51b5;
      line-height: 1.5;
    }
    span {
      font-size: 30px;
      font-family: Raleway, sans-serif;
      font-weight: 600;
      color: #3f51b5;
    }
    .divider {
      border: 1px solid #bdbbbb;
      margin: 20px;
    }
    h3 {
      font-size: 22px;
      margin: 20px 36px;
      line-height: 2;
      font-family: Raleway, sans-serif;
    }
    p {
      margin: 0px 36px;
      font-family: Raleway, sans-serif;
      line-height: 1.5;
    }
  }
}
