.property-item {
  //padding: 10px;
  width: 24%;
  height: fit-content;
  margin: 0.3%;
  border: 1px solid #dad2d2;
  border-bottom: 3px solid #337ab7;
  .slide-container {
    .each-slide {
      div {
        width: 100%;
        min-height: 150px ;
        background-size: cover;
      }
    }
    .badge {
      position: relative;
      background-color: rgba(#000000, 0.5);
      border-radius: 2px;
      color: white;
      padding: 3px 5px;
      top: -155px;
      left: -79px;
      font-family: Raleway, sans-serif;
    }
    .save {
      cursor: pointer;
      position: relative;
      top: -148px;
      right: -70px;
      .icon {
        color: white;
      }
    }
  }
  .item-description {
    margin: -15px 5px 5px 5px;
    //filter: blur(0.2rem);
    .dec-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      h3 {
        font-size: 22px;
        margin: 0px 5px !important;
        text-align: left !important;
      }
      .plan-title {
        text-transform: uppercase;
        font-size: 10px;
      }
    }
    p {
      margin: 0px 5px 5px 5px !important;
      text-align: left !important;
    }
    .more {
      display: flex;
      justify-content: flex-end;
      a {
        text-decoration: none;
        color: black;
        text-align: right;
        font-size: 10px;
      }
    }
  }
}
