.drawer-container{
  .container {
    padding: 20px;
    &.login {
      width: 300px;
    }
    .drawer-header {
      display: flex;
      justify-content: flex-end;
      span {
        cursor: pointer;
      }
    }
  }
}