
.breadcrumbs-container {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  span {
    padding-right: 10px;
    font-size: 12px;
    color: #7b8a92;
    font-family: 'Raleway', sans-serif;
  }
}